<!DOCTYPE html>
<html>

<head>
  <title>얼굴인식</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body style="text-align:center;">
  <div><a href="/">돌아가기</a></div>
  <img width="30%;"src=<%= imagepath %>>
  <h1 id="main">얼굴 인식 시스템 !!</h1>
  <div id="celebrity">----------------</div>
  <div id="recognition"></div>


  <script language="javascript">
    const a = (<%- data %>);
    const b = (<%- data2 %>);
    let result = '<div>삐!!!빅!! 결과입니다.</div><br>';
    result += '<div>' + '나이추정 : ' + b.faces[0].age.value + ' | 정확도 : ' + b.faces[0].age.confidence*100 + '%</div>';
    result += '<div>' + '표정 : ' + b.faces[0].emotion.value + ' | 정확도 : ' + b.faces[0].emotion.confidence*100 + '%</div>';
    result += '<div>' + '성별 : ' + b.faces[0].gender.value + ' | 정확도 : ' + b.faces[0].gender.confidence*100 + '%</div><br>';    
    for(let i in a.faces) {
      result += '<div>닮은 유명인 : ' + a.faces[i].celebrity.value + '</div>'
      result += '<div>정확도 : ' + (a.faces[i].celebrity.confidence)*100 + '%</div><br>'
    }
    document.getElementById('recognition').innerHTML = result;
  </script>

</body>

</html>